
@{
    ViewBag.Title = "Authorization";
}

<h2>Authorization</h2>
<form method="post" role="form">
    <input class="form-control" type="text" name="Name" placeholder="name.." />
    <input class="form-control" type="text" name="HashOfPassword" placeholder="password.." />

    <input type="submit" vale="authorization" />
</form>
