
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="Account/Registration" class="btn btn-primary">Registration</a>

<a href="Account/Authorization" class="btn btn-primary">Authorization</a>

<a href="Account/LogOff" class="btn btn-primary">LogOff</a>
