
@{
    ViewBag.Title = "Registration";
}

<h2>RegistrationView</h2>


<form method="post" role="form">
    <input type="hidden" name="Id" />
    <input type="text" name="Name" placeholder="name.."/>
    <input type="text" name="HashOfPassword" placeholder="password.."/>

    <input type="submit" vale="save"/>
</form>

